<h1>Results</h1>

<!-- TABLE (HEAD/BODY)
------------------------------>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Campaign ID</th>
      <th>Campaign name</th>
      <th>Cuepoint ID</th>
      <th>Cuepoint</th>
      <th>Start</th>
      <th>Complete</th>
    </tr>
  </thead>
  <tbody>
    <% @results.each do |result| %>
    <tr>
      <td><%= result.campaign.id %></td>
      <td><%= result.campaign.name %></td>
      <td><%= result.cuepoint.id %></td>
      <td><%= result.cuepoint.name %></td>
      <td><%= result.count_start %></td>
      <td><%= result.count_complete %></td>
    </tr>
    <% end %>
  </tbody>
</table>