<h1>キューポイント編集</h1>

<!-- FORM (from partial)
------------------------------>
<%= form_for(@cuepoint) do |f| %>

<%= render 'shared/error_messages', object: f.object %>
<%= render partial: 'cuepoints/form', locals: { f: f } %>
<p>VAST URL:<%= vast_url(@cuepoint) %></p>

<!-- BUTTONS
------------------------------>
<%= f.submit '編集', class: 'btn btn-success btn-centered' %>
<%= link_to 'キャンセル', cuepoints_path, class: 'btn btn-default' %>
<%= link_to '削除', cuepoint_path(@cuepoint.id),
                    method: :delete,
                    data: { confirm: '本当に削除してよろしいですか？' },
                    class: "btn btn-danger" %>
<% end %>