<!-- ★FORMS
------------------------------>
<div class="form-horizontal">
  
<!-- CAMPAIGN NAME
------------------------------>
  <div class="form-group">
    <label class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>

<!-- TIME START_AT
------------------------------>
  <div class="form-group">
    <label class="col-sm-2 control-label">Start at</label>
    <div class="col-sm-5">
      <%= f.datetime_local_field :start_at, class: 'form-control' %>
    </div>
  </div>

<!-- TIME END_AT
------------------------------>
  <div class="form-group">
    <label class="col-sm-2 control-label">End at</label>
    <div class="col-sm-5">
      <%= f.datetime_local_field :end_at, class: 'form-control' %>
    </div>
  </div>

<!-- LIMIT START (colomn:GOAL)
------------------------------>
  <div class="form-group">
    <label class="col-sm-2 control-label">Limit start</label>
    <div class="col-sm-5">
      <%= f.number_field :limit_start, class: 'form-control' %>
    </div>
  </div>

<!-- MOVIE URL
------------------------------>
  <div class="form-group">
    <label class="col-sm-2 control-label">Movie URL</label>
    <div class="col-sm-10">
      <%= f.url_field :movie_url, class: 'form-control' %>
    </div>
  </div>

<!-- CUE POINTS
------------------------------>
  <div class="form-group">
    <%= f.label :cuepoints, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-4">
      <%= f.collection_check_boxes(:cuepoint_ids, Cuepoint.all, :id, :name) do |b| %>
        <div class="check_box">
          <%= b.label { b.check_box + b.text } %>
        </div>
      <% end %>
    </div>
  </div>
  
</div>