<!-- ★FORMS
------------------------------>

<!-- CAMPAIGN NAME
------------------------------>
<div class="form-group">
  <label class="col-sm-2 control-label">Name</label>
  <div class="col-sm-9">
    <%= f.text_field :name, class: 'form-control' %>
  </div>
</div>

<!-- TIME START_AT
------------------------------>
<div class="form-group">
  <label class="col-sm-2 control-label">Start at</label>
  <div class="col-sm-9">
    <%= f.text_field :start_at, class: 'form-control' %>
  </div>
</div>

<!-- TIME END_AT
------------------------------>
<div class="form-group">
  <label class="col-sm-2 control-label">End at</label>
  <div class="col-sm-9">
    <%= f.text_field :end_at, class: 'form-control' %>
  </div>
</div>

<!-- LIMIT START (colomn:GOAL)
------------------------------>
<div class="form-group">
  <label class="col-sm-2 control-label">Limit start</label>
  <div class="col-sm-9">
    <%= f.text_field :limit_start, class: 'form-control' %>
  </div>
</div>

<!-- MOVIE URL
------------------------------>
<div class="form-group">
  <label class="col-sm-2 control-label">Movie URL</label>
  <div class="col-sm-9">
    <%= f.text_field :movie_url, class: 'form-control' %>
  </div>
</div>

<!-- CUEPOINTS
------------------------------>
<div class="form-group">
  <label class="col-sm-2 control-label">Cuepoints</label>
  <div class="col-sm-9">
    <% @cuepoints.each do |cuepoint| %>
    <div class="checkbox">
      <% # Need to (think of) link to "cuepoint-table" or "index.cuepoint" %>
      <% cuepoint.name %>
    </div>
    <% end %>
  </div>
</div>