<h1>キャンペーン編集</h1>

<!-- FORM (from partial)
------------------------------>
<%= form_for(@campaign) do |f| %>

<%= render 'shared/error_messages', object: f.object %>
<%= render partial: 'campaigns/form', locals: { f: f } %>

<!-- BUTTONS
------------------------------>
<%= f.submit '編集', class: "btn btn-success" %>
<%= link_to 'キャンセル', campaigns_path, class: "btn btn-default" %>
<%= link_to '削除', campaign_path(@campaign.id),
                    method: :delete, 
                    data: { confirm: '本当に削除してよろしいですか？' },
                    class: 'btn btn-danger' %>
<% end %>