<h1>キャンペーン登録</h1>

<!-- FORM (from partial)
------------------------------>
<%= form_for(@campaign) do |f| %>

<%= render 'shared/error_messages', object: f.object %>
<%= render partial: 'campaigns/form', locals: { f: f } %>

<!-- BUTTONS
------------------------------>
<%= f.submit '登録', class: "btn btn-success" %>
<%= link_to '中止', campaigns_path, class: "btn btn-default" %>

<% end %>
